<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <servlet>
	<servlet-name>View</servlet-name>
	<servlet-class>com.g34.quicksalon.controller.upperStaff.owner.ViewManagersServlet</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>View</servlet-name>
	<url-pattern>/upperStaff/owner/allManagers.html/view</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>addManager</servlet-name>
	<servlet-class>com.g34.quicksalon.controller.upperStaff.owner.AddManagerServlet</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>addManager</servlet-name>
	<url-pattern>/upperStaff/owner/registerManager.html/addManager</url-pattern>
</servlet-mapping>
</web-app>